* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
html {
  height: 100%;
  font-family: sans-serif;
}
body {
  height: 100%;
  border: 1px solid #000;
  background: url("http://static.udache.com/driver-reg/imgs/login_bg_new.fb704769.jpg");
  background-size: cover;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.content-hd {
  position: absolute;
  top: 9.333333rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-hd .hd-h2 {
  font-size: 0.746667rem;
  color: #fff;
}
.content-hd .hd-ft {
  font-size: 0.32rem;
  color: #d5d2d2;
  margin-top: 0.133333rem;
}
.city-select {
  width: 3.6rem;
  height: 1.0666667rem;
  background: #383b42;
  position: absolute;
  top: 12.24rem;
  color: #d5d2d2;
  border: 1px solid #a09d9d;
  border-radius: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.city-select .city-text {
  font-size: 0.4533333rem;
}
.city-select .box {
  width: 0.5rem;
}
.city-select .box .box1 {
  width: 0.25rem;
  height: 0.25rem;
  transform: rotate(45deg);
  background: #fff;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
}
.city-select .box .box2 {
  position: absolute;
  top: 0.42rem;
  width: 0.22rem;
  height: 0.36rem;
  background: #383b42;
}
.statement {
  position: absolute;
  color: #b9b9bb;
  bottom: 3.866667rem;
  font-size: 0.32rem;
}
.statement .sm-two {
  color: #fc8247;
}
.login {
  background: #fd9153;
  position: absolute;
  bottom: 1.92rem;
  width: 9.2rem;
  height: 1.626667rem;
  line-height: 1.626667rem;
  align-items: center;
  border: none;
  border-radius: 0.06rem;
  font-size: 0.56rem;
  color: #fff;
  font-weight: bold;
}
.footer {
  position: absolute;
  bottom: 0.48rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .ft-one {
  color: #b9b9bb;
  font-size: 0.453333rem;
}
.footer .ft-two {
  width: 0.266667rem;
  height: 0.266667rem;
  border-right: 1px solid #6a6b6e;
  border-bottom: 1px solid #6a6b6e;
  transform: rotate(45deg);
}
